.home_section_green {
    /* border: 2px solid red; */
    padding: 10px 30px;
    background-color: #67ba37;
    /* box-shadow: 0 0 200px rgba(99, 221, 17, 0.9) inset; */
    /* backdrop-filter: blur(5px); */
    
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.home_section_green h1, .home_section_white h1 {
    color: #ffffff;
}
.home_section_green::after, .home_section_white::after{
    content: '';
    width: 150px;
    height: 2px;
    background: black;
    margin: 5px;
    display: flex;
    align-items: center;
}
.home_section_white h1 {
    color: #000000;
}
.home_section_green p, .home_section_white p {
    color: #5d5b5b;
    font-family: 'Merriweather', serif;
}
.home_section_white {
    /* border: 2px solid red; */
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    padding: 10px 30px;
    color: #67b930;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.home_section_container {
    width: 70%;
    padding: 0px 30px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_section_wrapper {
    font-size: 1.5rem;
    padding: 10px;
    /* max-height: 340px; */
    width: 90%;
    /* border: 2px solid green; */
}
.dotted_line {
    border-top:10px dotted black;
    background-color:#67b930;
    width:8%;
}

@media screen and (max-width: 960px) {
    .home_section_container {
        width: 90%;
    }
    .home_section_wrapper {
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px) {
    .home_section_container, .home_section_wrapper {
        width: 100%;
        font-size: 0.9;
    }
}
@media screen and (max-width: 500px) {
    .home_section_container, .home_section_wrapper {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 360px) {
    .home_section_container, .home_section_wrapper {
        font-size: 0.6rem;
    }
}

