.acount {
    /* border: 2px solid red; */
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acount_container {
    /* border: 2px solid green; */
    width: 90%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acount_container_wrapper {
    /* border: 2px solid pink; */
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.acount_container_wrapper h1 {
    font-size: 3rem;
}
.my_order {
    padding: 30px 0;
    /* border: 2px solid black; */
    width: 90%;
}
.my_order_list_head {
    padding-left: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.my_order_list {
    padding-left: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #e1e1e1;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.order_image img {
    height: 100px;
}
.more_shoping {
    margin-top: 30px;
}