.products {
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
}

.product {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 5rem 0;
  background-color: white;
  /* grid-template-rows: 1fr;    */
  border-radius: 6px;
  /* border: 1px solid black; */
}
.products_container h1{
    margin-bottom: 20px;
    font-size: 3rem;
}
.all_products_item {
    /* border: 1px solid #a6a6a6; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card_item {
    width: 100%;
    /* border: 2px solid red; */
    /* box-shadow:  2px 2px 2px 4px rgba(0, 0, 0, 0.125); */
    box-shadow:  0 0 20px  rgba(128, 128, 128, 0.6);
      -moz-box-shadow: 0 0 20px  rgba(128, 128, 128, 0.6);
      -webkit-box-shadow: 0 0 20px  rgba(128, 128, 128, 0.6);
      -o-box-shadow: 0 0 20px  rgba(128, 128, 128, 0.6);
    /* padding: 70px 0; */
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;
}
.card_item_link {
    width: 100%;
    padding: 50px 20px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.card_item_pic-wrap {
    height: 300px;
    width: 300px;
    overflow: hidden;
    /* padding: 20px 50px; */
}
.card_item_image {
    /* border: 2px solid #e1e1e1; */
    margin-top: 10px;
    width: 320px;
    height: 300px;
}
.card_item_info {
    /* border: 2px solid blueviolet; */
    width: 70%;
    height: 100%;
    text-align: start;
    padding: 10px;
    color: black;
}
.product_btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* border: 2px solid pink; */
}

@media screen and (max-width: 1100px) {
    .product_btn {
        flex-flow: column;
    }
    .product_btn button {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .card_item_link {
        padding: 0;
        flex-flow: column-reverse;
    }
    .card_item_info {
        text-align: center;
        height: 50%;
    }
}
@media screen and (max-width: 960px) {
    .card_item_link {
        padding: 0;
    }
    .card_item_info {
        height: 60%;
    }
}