.register {
    /* border: 2px solid red; */
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}
.register_form_container {
    width: 400px;
    min-width: 400px;
    /* padding: 0 100px; */
    /* border: 2px solid blue; */
}
.register_container h1 {
    text-align: center;
}
.register_form {
    /* border: 2px solid green; */
    padding: 20px 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/* .username,.contact {
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
} */
.user_already_exist {
    display: flex;
    margin-top: 10px;
}
.user_already_exist h5 {
    margin-right: 5px;
}
.name, .username,.email,.mobile, .password, .new_user_role, .new_user_address, .qualification, .college, .resume, .technical_skills, .additional_info, .questions, .name_of_org, .relate, .alternate_mobile, .pincode {
    width: 100%;
}
.name input, .username input,.email input,.code input, .mobile input, .password input, .new_user_role select, .new_user_address input, .qualification input, .college input, .resume input, .technical_skills input, .additional_info textarea, .questions textarea, .name_of_org input, .relate input, .alternate_mobile input, .pincode input {
    width: 100%;
    padding: 6px 8px;
    font-size: 1.2rem;
    background-color: none;
    margin-bottom: 30px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #e1e1e1;
}
.name input:focus, .username input:focus,.email input:focus,.code input:focus, .mobile input:focus, .password input:focus, .new_user_role input:focus, .new_user_address input:focus, .qualification input:focus, .college input:focus, .resume input:focus, .technical_skills input:focus, .additional_info textarea:focus, .questions textarea:focus, .name_of_org input:focus, .relate input:focus, .alternate_mobile input:focus, .pincode input:focus{
    background-color: green;
    transition: background-color 1s ease-in;

}
.phone {
    width: 100%;
}
.phone input {
    width: 150%;
    margin-left: -50px;
}
.register button {
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid #000;
}

@media screen and (max-width: 700px) {
    .register_form_container {
        width: 300px;
        min-width: 15px;
        padding: 0 10px;
        /* border: 2px solid blue; */
    }
    .code {
        width: 100%;
    }
}