/* Product Image */
.product_image {
    padding: 30px;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.product_image_container {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
}
.product_image_side {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}
.product_image_side img {
    width: 100px;
    /* margin-top: 10px; */
    /* border: 1px solid black; */
}
.product_image_slide_single {
    border: 2px solid #d5dbd9;
    /* box-shadow:  5px 10px 8px 10px #888888; */
}
.product_main_image {
    width: 500px;

}

/* Product Details */
.product_details {
    text-align: center;
    /* border: 2px solid pink; */
    padding: 30px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.product_detail_container {
    /* border: 2px solid green; */
    width: 90%;
    text-align: start;
    padding: 50px 200px 50px 200px ;
    line-height: 2.3rem;
}


/* Desription */
.description {
    /* border: 2px solid green; */
    padding: 50px 270px 50px 270px;
}
.description h1 {
    margin-bottom: 20px;
}

/* Other product action */
.other_product_action {
    /* border: 2px solid red; */
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other_product_action_container {
    /* border: 2px solid blue; */
    padding: 50px 200px 50px 200px ;
    width: 90%;
    margin-left: 10px;
    /* padding: 30px 60px; */
}

/* share */
.share {
    display: flex;
}
.share h3 {
    margin-right: 10px;
}
.share_links {
    display: flex;
}
.share_link_item {
    margin-right: 10px;
    color: black;
}
.product_rating_container {
    /* display: flex; */
    /* flex-flow: row; */
    /* align-self: start; */
    text-align: center;
    /* border: 2px solid red; */
}
.rating {
    background-color: black;
}
.product_rating_container h1 {
    margin: 30px;
}
.input_detail{
    /* border: 2px solid red; */
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.input_detail textarea, .user input {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    outline: none;
    padding: 10px 0;
    font-size: 1rem;
    margin-bottom: 10px;
}
.user_detail {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.user{
    width: 100%;
}
.user input {
    width: 95%;
}
.user input[type=email] {
    margin-left: 15px;
}
.input_detail textarea:focus, .user input:focus {
    background-color: #99cc4a;
    /* opacity: 0.2; */
    color: #000;
    font-weight: bold;
    backface-visibility: 1;
    border-bottom: 1px solid green;
    transition: all 1s ease;
}
.input_submit_btn {
    width: 70%;
    text-align: center;
    margin-top: 10px;
}
/* .input_submit_btn button {
    width: 80px;
    background-color: orangered;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 4px 10px;
} */

@media screen and (max-width: 960px) {
    .product_image_container {
        flex-flow: column;
    }
    .product_main_image img {
        width: 300px;
        margin-top: 50px;
    }
    .product_image_side {
        flex-direction: row;
    }
    .other_product_action_container {
        width: 100%;
    }
    .description {
        padding: 50px 200px 50px 200px;
    }
    .product_detail_container {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .product_detail_container, .description, .other_product_action_container {
        padding: 50px 150px 50px 150px;
    }
    .user_detail {
        flex-flow: column;
    }
    .user input {
        width: 100%;
    }
    .user input[type=email] {
        margin-left: 0px;
    }
    .input_submit_btn {
        text-align: start;
        align-self: flex-start;
    }
}

@media screen and (max-width: 650px) {
    .product_detail_container, .description, .other_product_action_container {
        padding: 10px 100px;
    }
}

@media screen and (max-width: 450px) {
    .product_detail_container, .description, .other_product_action_container {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 350px) {
    .product_detail_container, .description, .other_product_action_container {
        padding: 0px 10px;
    }
}