
#About-us-home{
    height: 400px;
    width: 80%;
    margin: auto;
    font: 'opensans-bold', sans-serif;
}

.about h2{
    text-align: center;
    font-size: 2.5rem;   
    margin: 10px;
}

.about h2::after {
    content: '';
    background: #99cc4a;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.about p{
    font-size: 20px;
    padding: 10px;
    margin: auto;
    width: 90%;
    line-height: 35px;
    letter-spacing: 1.5px;
}

.aboutus-img-div {
    text-align: center;
    overflow: hidden;
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    
}

.aboutus-img-div img{
    height: 100%;
    width: 100%;
}