.btn_outline {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 17px;
}
.btn_outline:hover {
    background-color: black;
    color: white;
    border: 0.2px solid white;
}

.btn_primary {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px 17px;
}
.btn_primary:hover {
    background: transparent;
    border: 2px solid white;
}
.btn_large {
    width: 200px;
    font-size: 20px;
    padding: 8px 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn_medium {
    width: 100px;
    font-size: 20px;
    padding: 4px 10px;
    font-weight: lighter;
    letter-spacing: 2px;
}