*{
    font-family: 'Abril Fatface', cursive;
    scroll-behavior: smooth;
}
.App {
    /* height: 669px; */
    /* padding-bottom: 100%; */
    overflow: auto;
    position: relative;
}
.activate_navbar {
    position: static;
    top: 0px;
}
.hidden_navbar {
    position: fixed;
    top: -80px;
}
.app_navbar {
    position: relative;
    top: 0px;
    background-color: #333;
  width: 100%;
  display: inline-block;
  transition: top 0.3s;
    /* overflow: hidden;
  background-color: #333;
  position: fixed;
  margin-bottom: 300px;
  top: 0;
  width: 100%; */
}
.comeToStart {
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: fixed;
    transition: all 1s ease;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    /* z-index: -1; */
}
.signDisplay {
    /* position: fixed; */
    bottom: 20px;
    right: -40px;
}
@media screen and (max-width: 960px) {
    .comeToStart {
        right: 10px;
    }
    .signDisplay {
        right: -40px;
    }
}