@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Sansita+Swashed:wght@600&display=swap');
*{
    /* font-family: "Open Sans"; */
    font-family: 'Sansita Swashed', cursive;
    /* letter-spacing: 0.1rem; */
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.App {
    height: 669px;
    /* padding-bottom: 100%; */
    /* overflow: auto; */
}
.comeToStart {
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: #99cc4a;
    color: white;
    position: fixed;
    transition: all 1s ease;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}
.comeToStart:hover {
    background-color: black;
    
}
.signDisplay {
    /* position: fixed; */
    bottom: 20px;
    right: -40px;
}
@media screen and (max-width: 960px) {
    .comeToStart {
        right: 10px;
    }
    .signDisplay {
        right: -40px;
    }
}